body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
   
}

.position-relative {
    text-align: center;
    background-color: rgb(33, 94, 185);
    color: white;
}

h5 {
    padding: 17px;
}

.container {
    max-width: 100%;
}
.container .row {
    margin-left: 5%;
}

.text {
    padding-top: 3%;
    text-align: center;
}


.text p {
    padding-top: 10px;
    font-size: 15.5px;
    margin-left: 30%;
    margin-right: 30%;
}

.menu2 div {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin-left: 19%;


}

.menu2 u {
    font-size: 100%;
}

 .dealscard img {
    display: flex;
    height: 50%;
    max-width: 100%;
} 

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
}

.navbar img {
    width: 100px;
    height: auto;
    display: block;
    position: relative;
}

.navbar-nav {
    display: flex;
    gap: 10px;
    list-style: none;
}

.nav-item {
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: #333333;
}

.navbar-toggler {
    border: none;
}



.row {
    padding-left: 10px;
}

.row div {

    display: grid;
    grid-template-columns: auto auto auto auto;
 
}


.row h6 {
    margin-top: 15px;
    background-color: rgb(245, 183, 67);
    border-radius: 10px;
    text-align: center;
}


/* For tablet*/
@media only screen and (min-width: 768px) {
    .text {
        top: 0px;
        left: 20%;
      }
      
      
    
      .text h1 {
        font-size: 30px;
      }
    
      .text p {
        top: 40px;
        left: 25px;
        font-size: 16px;
      }
    }



/* For windows */
@media only screen and (min-width: 987px) {
    .text {
        left: 20%;
      }

}