body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 100%;
    }

    .position-relative {
        text-align: center;
        position:absolute;
        background-color: rgb(33, 94, 185);
        color: white;
        padding: 1rem;
    }
    .text {
        padding-top: 5px;
        text-align: center;
    }

    .banner h5 {
        margin: 0;
    }

    .row2 {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    }

    .menu2 ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .menu2 img {
        height: 50px;
        margin-bottom: 5px;
    }

    .navbar {
        background-color: #ffffff;
        padding: 10px;
    }

    .navbar img {
        width: 100px;
        height: auto;
    }

    .navbar-nav {
        gap: 10px;
    }

    .navbar-toggler {
        border: none;
    }

    .row {
        padding: 10px;
    }
    .deal-service{
        justify-content: space-between;
        display: grid;
        
    }

    .deal-card {
        background-color: #f8f9fa;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
    }

    .deal-card img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .deal-card h6 {
        margin-top: 15px;
        background-color: rgb(245, 183, 67);
        border-radius: 10px;
        padding: 5px;
        text-align: center;
    }

    @media only screen and (min-width: 768px) {
        .menu2 {
            justify-content: flex-end;
        }

        .navbar-nav {
            gap: 20px;
        }
    }

    @media only screen and (min-width: 987px) {
        /* Additional styles for larger screens */
    }